.btn {
    margin-left: auto;
    margin-right: auto;
}
.nav {
    padding: 1%;
}
.row {
    text-align: center;
    padding: 0px;
}
.grid {
    margin-left: auto;
    margin-right: auto;
}
#solvebtn {
    margin: 1%;
}