svg {
    width: inherit;
    height: inherit;
}
.node {
    width: 70px;
    height: 70px;
    display: inline-block;
}
.grid {
    outline: 1px solid grey;
}
.animationgridfade {
    animation: gridfade 2s linear;
}
@keyframes gridfade {
    from {
        outline: 1px solid grey;
    }
    to {
        outline: 0px;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.lg {
    width: 100px;
    height: 100px;
}
.sm {
    width: 50px;
    height: 50px;
}
.md {
    width: 60px;
    height: 60px;
}