.node {
    width: 70px;
    height: 70px;
    outline: 1px solid grey;
    display: inline-block;
    margin-top: -5px;
}
.lg {
    width: 100px;
    height: 100px;
}
.sm {
    width: 50px;
    height: 50px;
}
.md {
    width: 60px;
    height: 60px;
}
.colorBlue {
    background-color: blue;
}
.colorRed {
    background-color: red;
}
.colorGreen {
    background-color: green;
}
.colorOrange {
    background-color: orange;
}
.colorYellow {
    background-color: yellow;
}
.colorWhite {
    background-color: white;
}
.colorGrey {
    background-color: grey;
}